/*public--------------------------------------------------------------------*/
/*publicOverlay*/
.publicOverlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;
    display: flex;
    justify-content: center;
}
.publicform{
    z-index: 10;
    background: #fff;
    padding: 30px;
    position: absolute;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    margin: 60px 0;
}
.publicform .title{
    text-align: left;
}

.publicform .title h3{
    font-size: 28px;
}
.publicform li label{
    flex: 0 0 100px;
}
.publicform li label+div{
    flex: 1 1;
    display: flex;
}
.publicform .bottom{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}
.publicform .bottom .publicBtn2:nth-child(1){
    background: none;
    color: #666;
    border: 1px solid #ccc;
    margin-right: 10px;
}
.publicform .bottom .publicBtn2:nth-child(1):hover{
    color: #fff;
    background-color: #437eaa;
    border: 1px solid #437eaa;
}
.publicform  .bottom button{
    width: auto;
    padding: 8px 20px;
}
/*publicBtn2*/
.publicBtn2{
    color: #fff;
    background-color: #437eaa;
    border: 1px solid #437eaa;
    padding: 8px 20px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
/*publicMenu*/
.publicMenu{
    background: #fff;
}
.publicMenu{
    justify-content: flex-start;
}
.publicMenu .logo{
    margin-top: 20px;
}
/*publicMain*/
.publicMain{
    padding-top: 60px;
    background: #eee;
    /* background-image: url(../img/fnbg.jpg); */
}
.publicMain>div{
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    border-radius: 6px;
    background: #fff;
    transform: translateY(10px);
    /* opacity: 0; */
    transition: .8s ease-out;
}
.publicMain>div+div{
    margin-top: 60px;
}
.publicMain .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0;
    margin-bottom: 0;
}
.publicMain .nav .title{
    background: #437eaa;
    padding: 20px 60px;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 14px 26px -12px rgb(111 111 111 / 42%), 0 4px 23px 0px rgb(105 105 105 / 12%), 0 8px 10px -5px rgb(132 132 132 / 20%);
    margin-top: -40px;
}
.publicMain .publicBtn{
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 3px;
    cursor: pointer;
    color: #666;
    background: #ffffff;
}
.publicMain .publicBtn.active,
.publicMain .publicBtn:hover {
    border: 1px solid #437eaa;
    box-shadow: 0 14px 26px -12px rgb(100 100 100 / 42%), 0 4px 23px 0px rgb(100 100 100 / 12%), 0 8px 10px -5px rgb(100 100 100 / 20%);
    background-color: #437eaa;
    border: 1px solid #437eaa;
    color: #fff;
}
.publicMain .publicBtn i {
    width: 13px;
    margin-right: 5px;
    font-size: 0;
}
.publicMain .publicBtn i svg{
    fill: #666;
}
.publicMain .publicBtn.active i svg,
.publicMain .publicBtn:hover i svg{
    fill: #fff;
}
.publicMain .content{
    padding: 20px 15px;
    color: #777;
}
.publicMain .content li{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    list-style: none;
}
.publicMain .content li>div {
    flex: 1 1;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.publicMain .content li:nth-child(1) p{
    color: #444;
}
.publicMain .content li>div:first-child {
    flex: 0 0 60px;
}
.publicMain .content li>div:last-child {
    flex: 0 0 100px;
    padding: 15px 5px 15px 0;
    justify-content: flex-end;
}
.publicMain .content .modify button{
    border: none;
    padding: 10px 6px;
    font-size: 0;
    background: none;
    /* color: #666; */
    cursor: pointer;
    width: 30px;
}
.publicMain .content li:nth-child(2) .modify button:last-child {
    display: none;
}
.publicMain .content .modify button svg {
    fill: #666;
}
.publicMain .content .modify button:hover svg{
    fill: #437eaa;
}
.publicMain .content2{
    padding: 60px 40px 20px;
}
.publicMain .content2 li{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-size: 14px;
    list-style: none;
}
.publicMain .content2 li label{
    color: #777;
    letter-spacing: 1px;
}
.publicMain .content2 li label{
    flex: 0 0 100px;
}
.publicMain .content2 li label+div{
    flex: 1 1;
    display: flex;
}

.publicMain .content2 label+div>input,
.publicMain .content2 label+div>textarea{
    padding: 12px;
    width: 100%;
    border: 1px solid #ced4da;
    font-size: 16px;
}
.publicMain .content2 label+div>textarea{
    min-height: 80px;
}
.publicMain .content2 label+div>textarea#tinymce{
    min-height: 200px;
}
.publicMain .content2 li+li{
    margin-top: 20px;
}
.publicMain .content2+.bottom{
    padding: 0 40px 40px;
    display: flex;
    justify-content: end;
}
.publicMain .page{
    text-align: center;
    padding: 0 15px 20px;
}
.publicMain .page ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.publicMain .page li {
    padding: 0;
    margin: 0 3px;
}
.publicMain .page li a.pre,
.publicMain .page li a.next {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 60px;
    min-width: 40px;
    height: 40px;
}
.publicMain .page li a.pre::after,
.publicMain .page li a.next::after{
    position: absolute;
    content: '';
    border: 2px solid #888;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-top: none;
    border-right: none;
    left: 18px;
}
.publicMain .page li a.next::after{
    transform: rotate(-135deg);
    left: 15px;
}
.publicMain .page li a {
    padding: 0px 11px;
    min-width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
    color: #666;
}
.publicMain .page li a.pre:hover,
.publicMain .page li a.next:hover {
    background: #437eaa;
}
.publicMain .page li a.pre:hover:after,
.publicMain .page li a.next:hover:after {
    border-color: #fff;
}

/*balogin--------------------------------------------------------------------*/
.balogin{
    background: url(../img/fnbg.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.balogin .publicform{
    padding: 40px 60px 80px;
}
.balogin .publicform .title{
    text-align: center;
    font-family: 'Noto Serif TC', serif;
}
.balogin .publicform .title h3{
    font-size: 36px;
    color: #777;
}
.balogin .publicform li{
    margin-top: 30px;
}
.balogin .publicform li a{
    color: #777;
}
.balogin .publicform li:last-child{
    margin-bottom: 0;
}
.balogin .publicform li:last-child a:hover{
    text-decoration: revert;
}
.balogin .publicform li:last-child button{
    max-width: 160px;
}
/*bamanager--------------------------------------------------------------------*/
.publicMain .bamanager .content li>div:nth-child(2),
.publicMain .bamanager .content li>div:nth-child(3),
.publicMain .bamanager .content li>div:nth-child(7){
    flex: 0 0 120px;
}
/*bahomeCarousel--------------------------------------------------------------------*/
.publicMain .bahomeCarousel .content li>div:nth-child(2),
.publicMain .bahomeCarousel .content li>div:nth-child(4){
    flex: 0 0 120px;
}

